/* Fonts */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/Inter/inter-v20-latin-300.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Inter/inter-v20-latin-regular.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/Inter/inter-v20-latin-500.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/Inter/inter-v20-latin-600.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/Inter/inter-v20-latin-700.woff2") format("woff2");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {

    scroll-behavior: smooth;

}


body {

    background: #0f172a;
    color: #f8fafc;
    font-family: 'Inter', sans-serif;

}

section {

    padding: 100px 0;

}

.container {

    width: 90%;
    max-width: 1200px;
    margin: auto;

}

.title {

    text-align: center;
    font-size: 42px;
    margin-bottom: 50px;

}
